logs
project/project
project/target
bin
target
tmp
.history
.sbtserver
.sbtserver.*
dist
/bin/
/out
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/bin/
/.idea_modules
.classpath
.project
/RUNNING_PID
.settings
/project/*-shim.sbt
/activator-sbt-*-shim.sbt
*.iml
*.gz
/gitflow
gitflow-installer.sh
OutputFolderPromedmail/
.DS_Store
.cache-main
.cache-tests
.pydevproject
# Compiled class file
*.class

# Log file
*.log*

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
*.ipr
*.iws
.idea
out
target
*.class

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
project/
